<!DOCTYPE html>
<html lang="bg">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ title }}</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="/css/bootstrap/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>

  <!--Main Navigation----------------------------->
  <header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" style="background-color: #2e3951">
      <div class="container">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="/">
          <strong class="blue-text text-uppercase font-weight-bold">Mayk's Blog</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Left -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link waves-effect" href="/">Начало
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href="#">За Мен</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href="#">Контакт</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href="/posts/new">Нов Пост</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href="#">Вход</a>
            </li>
          </ul>

        </div>

      </div>
    </nav>
    <!-- Navbar -->

  </header>
  <!--Main Navigation----------------------------->

<!--Main layout--------------------------------------------->
  @!section('content')
<!--Main layout--------------------------------------------->



<!--Footer-->
<footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="pt-4">
      <a class="btn btn-outline-white" href="#"
          role="button">Портфолио
        <i class="fas fa-download ml-2"></i>
      </a>
      <a class="btn btn-outline-white" href="#"
        role="button">Контакт
        <i class="fas fa-graduation-cap ml-2"></i>
      </a>
    </div>
    <!--/.Call to action-->

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="#">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="#">
        <i class="fab fa-twitter mr-3"></i>
      </a>

      <a href="#">
        <i class="fab fa-youtube mr-3"></i>
      </a>

      <a href="#">
        <i class="fab fa-google-plus-g mr-3"></i>
      </a>

      <a href="#">
        <i class="fab fa-dribbble mr-3"></i>
      </a>

      <a href="#">
        <i class="fab fa-pinterest mr-3"></i>
      </a>

      <a href="#">
        <i class="fab fa-github mr-3"></i>
      </a>

      <a href="#">
        <i class="fab fa-codepen mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2019 Copyright:
      <a href = "mailto: mayks1@gmail.com" > Михаил Михайлов </a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->



  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="/js/bootstrap/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/js/bootstrap/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap/mdb.min.js"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();
  </script>
</body>

</html>