@import url('https://fonts.googleapis.com/css?family=Istok+Web:400,700&display=swap&subset=cyrillic');


body, html {
    height: 100%;
    margin: 0;
  }

.nav-link {
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
}

.jumbotron {
  background-color: #e9ecef;
}

.btn-rounded {
  border-radius: .25rem;
}


  
  .hero-image {
    background-image: url("../images/nature1.jpg");
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .h1-responsive {
    font-size: 5vw;
  }

  .h5-responsive {
    font-size: 2vw;
  }

  .container-404 {
    height: 70%;
  }